<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= render "devise/shared/error_messages", resource: resource %>
<%= form_for(resource, as: resource_name, novalidate: "novalidate", class:"row g-3 needs-validation", url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          Account Details
        </div>
        <div class="card-body">
          <div class="field mb-3">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>
          </div>
          <div class="field mb-3">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
            <%= f.password_field :password, class: "form-control", autocomplete: "new-password", placeholder: "6 characters minimum" %>
          </div>
          <div class="field mb-3">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
          </div>
          <div class="field mb-3">
            <%= f.label :current_password %> <i>to confirm changes</i><br />
            <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
          </div>
        </div>
        <div class=" card-footer text-center">
          <%= f.submit "Update" ,class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header ">
          Update Profile Picture
        </div>
        <div class="card-body text-center">
          <!-- Display Avatar -->
          <% if current_user.avatar.attached? %>
            <%= image_tag(current_user.avatar, class: "avatar") %>
          <% else %>
            <img alt="image" class="avatar" src="https://i.pinimg.com/736x/fd/b6/de/fdb6dea1b13458837c6e56361d2c2771.jpg">
          <% end %>
          <!-- Display Avatar -->
          <!--Avatar Upload Field-->
        </div>
        <div class="card-footer text-center">
          <label class="btn btn-secondary btn-change-avatar">
            New Image
            <span style="display:none;">
              <%= f.file_field :avatar %>
            </span>
          </label>
        </div>
        <!--Avatar Upload Field-->
      </div>
    </div>
  </div>
<%end%>
<br/>
<%# <h3>Cancel my account</h3>
<p>We're sad to see you go. <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
<%# <%= link_to "Back", :back %>
